name: youtube-push

on:
  push:
    branches:
      - main
    paths:
      - 'youtube/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: bufbuild/buf-setup-action@v1
      - uses: bufbuild/buf-lint-action@v1
        with:
          input: "youtube"
      # - uses: bufbuild/buf-breaking-action@v1
      #   with:
      #     input: "youtube"
      #     against: "https://github.com/${GITHUB_REPOSITORY}.git#branch=main,ref=HEAD~1"
      - uses: bufbuild/buf-push-action@v1
        with:
          input: "youtube"
          buf_token: ${{ secrets.BUF_TOKEN }}
